.page {
    width: 100vw;
    height: 100vh;
}

.page-full {
    width: 100vw;
    height: 100%;
}

.page-logo {
    width: 40%;
}

.page-header {
    width: 100%;
    padding: 0px 0rem;
}

.page-header-multi {
    display: flex;
    justify-content: space-between;
}

.page-header-logo {
    height: 50px;
    margin-top: 10px;
}

.page-back-filler {
    width: 107px;
}

.page-title {
    width: 100%;
    height: 13%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.page-subtitle {
    width: calc(100% - 3.76rem);

    padding: 0px 1.88rem;
}

.page-subtitle-slim {
    height: auto;
}

.page-subtitle-text {
    width: 60%;
    margin: 10px 0px;

    color: #000000;
    
    font-family: Inter;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page-body {
    width: calc(100% - 3.76rem);
    padding: 0px 1.88rem;
}

.page-body-text {

}
