.review-subtitle {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.review-email {
    margin-bottom: 1rem;
}

.review-information-body {
    color: #000000;
}

.review-button {
    display: flex;
    justify-content: center;

    margin: 2rem;
}

.review-edit-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.review-text-row {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 1rem;
}
